In [1]:
import numpy as np

In [2]:
speed=[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,200]
x=np.mean(speed)
print(x)

87.5

In [3]:
y=np.median(speed)
print(y)

85.0

In [5]:
from scipy import stats
sp2=[50,70,85,93,90,90,90,100,100,120,130,140,150]
z=stats.mode(sp2)
print(z)

ModeResult(mode=array([90]), count=array([3]))

/tmp/ipykernel_17511/2295730687.py:3: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  z=stats.mode(sp2)

In [9]:
n_num=[1,2,3,4,5]
n=len(n_num)
sumx=sum(n_num)
sumx=sumx/n
print("average is :",str(sumx))

average is : 3.0

In [10]:
n_num=[1,2,3,4,5]
n=len(n_num)
n_num.sort()
if n%2==0:
    median1=n_num[n//2]
    median2=n_num[n//2-1]
    median=(median1+median2)/2
else:
    median=n_num[n//2]
print("median is:",median)

median is: 3

In [16]:
import pandas as pd
df=pd.DataFrame({'A':['a','b','c','c','a','a'],'B':[0,1,1,0,1,0]},dtype="category")
df.dtypes

A    category
B    category
dtype: object

In [25]:
print(df)
print(df.groupby(['A']).count().reset_index())

   A  B
0  a  0
1  b  1
2  c  1
3  c  0
4  a  1
5  a  0
   A  B
0  a  3
1  b  1
2  c  2

In [29]:
data=pd.read_csv('/home/sudharshan/Desktop/Dsbda/archive/IRIS.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [31]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [30]:
print(data)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [35]:
print("iris setosa")
setosa=data['species'] == 'Iris-setosa'
print(data[setosa].describe())

print("\niris virginia")
virgi=data['species']=='Iris-Virginica'
print(data[virgi].describe())

print("\niris versi")
versi=data['species']=='Iris-versicolor'
print(data[versi].describe())

iris setosa
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

iris virginia
       sepal_length  sepal_width  petal_length  petal_width
count           0.0          0.0           0.0          0.0
mean            NaN          NaN           NaN          NaN
std             NaN          NaN           NaN          NaN
min             NaN          NaN           NaN          NaN
25%             NaN          NaN           NaN          NaN
50%             NaN          NaN           NaN          NaN
75%             NaN          NaN           NaN          NaN
max             NaN          NaN           NaN          NaN

iris versi
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000